{% assign today = 'now' | date: "%Y-%m-%d" %}

{% assign events = "" | split: "" %}
{% assign dates = "" | split: "" %}
{% assign today = "now" | date: "%Y-%m-%d" %}

{% assign seven_days = 7 | times: 86400 %}
{% assign one_week_from_today = today | date: "%s" | plus: seven_days | date: "%Y-%m-%d" %}

{% for event in site.events %}
    {% assign start_date = event.start_date | date: "%Y-%m-%d" %}
    {% assign end_date = event.end_date | default: '9999-12-31' | date: "%Y-%m-%d" %}
    {% assign step = event.step | default: 0 | times: 86400 %}

    {% assign current_date = start_date | date: "%Y-%m-%d "%}

    {% assign events = events | push: event %}
    {% assign dates = dates | push: current_date %}

    {% if step > 0 %}
        {% for i in (0..10) %}
            {% assign current_date = current_date | date: "%s" | plus: step | date: "%Y-%m-%d" %}

            {% if current_date > one_week_from_today %}
                {% break %}
            {% endif %}

            {% assign events = events | push: event %}
            {% assign dates = dates | push: current_date %}

        {% endfor %}
    {% endif %}
{% endfor %}

<!-- sorting -->

{% assign n = dates | size %}
{% assign sorted = false %}

{% for i in (0..200) %}
    {% assign sorted = true %}
    {% for i in (0..n | minus: 2) %}
        {% assign date_i = dates[i] %}
        {% assign date_j = dates[i | plus: 1] %}

        {% if date_i > date_j %}
            <!-- Scambia le date -->
            {% assign temp_date = dates[i] %}
            {% assign dates = dates | replace_at: i, dates[i | plus: 1] %}
            {% assign dates = dates | replace_at: i | plus: 1, temp_date %}

            <!-- Scambia gli eventi corrispondenti -->
            {% assign temp_event = events[i] %}
            {% assign events = events | replace_at: i, events[i | plus: 1] %}
            {% assign events = events | replace_at: i | plus: 1, temp_event %}

            {% assign sorted = false %}
        {% endif %}
        {% if sorted %}
            {% break %}
        {% endif %}
    {% endfor %}
{% endfor %}

<div class="d-flex row">
    {% for event in events %}
        {% assign event_date = dates[forloop.index0] %}
        {% if event_date >= today %}
            <div class="col-12 col-lg-7 mt-5">
                <h1 class="mb-4">Prossimo evento</h1>
                <div>
                    {% include _components/next_event_card.html event=event event_date=event_date %}
                </div>
            </div>
            {% break %}
        {% endif %}
    {% endfor %}

    {% assign events = events | reverse %}
    {% assign dates = dates | reverse %}
    <div class="col-12 col-lg-5 mt-5">
        <h1 class="mb-4">Timeline</h1>
        <div class="timeline">
            {% for event in events %}
                {% assign event_date = dates[forloop.index0] %}
                {% if event_date >= today %}
                    {% assign active = true %}
                {% else %}
                    {% assign active = false %}
                {% endif %}
                {% include _components/event_card.html event=event current_date=event_date active=active %}
            {% endfor %}
        </div>
    </div>
</div>