@import "colors";
@import "typography";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: $background-color;
  color: $text-color;
  font-size: $text-size;
}

footer {
    position: fixed;
    z-index: 2000;
}

h1 {
    color: $text-color;
    font-size: 2em;
}

a {
    color: $link-color;
    &:hover{
        color: $link-hover-color;
    }
}

p {
    font-size: 1.3em;
    strong { color: $primary-color;}
}

.logo-small {
    height: 2em;
    width: 3em;
}
