@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: $background-color;
  color: $text-color;
}

h1 {
    color: $text-color;
    font-size: calc(1rem + 1.5vw);
}

a {
    color: $link-color;
    &:hover{
        color: $link-hover-color;
    }
}

.logo-small{
    height: 2em;
    width: 3em;
}
