// Colori principali
$primary-color: #C85C5C; // Colore primario
$dark-primary-color: darken($primary-color, 20%) ; // Colore scurito del 20% per titoli o elementi importanti

// Colori secondari
$secondary-color: white; //lighten($primary-color, 10%) ; // Versione più chiara del colore principale (45%) per sfondi o sezioni leggere
$dark-secondary-color: lighten($primary-color, 30%) ; // Versione leggermente più chiara (30%) per altre sezioni

// Colore d'accento
$accent-color: adjust-hue($primary-color, 30) ; // Spostamento della tonalità di 30 gradi per creare un colore di accento

// Colore di sfondo generale
$background-color: white;//lighten($primary-color, 35%) ; // Sfondi molto chiari derivati dal colore principale

// Colore del testo
$text-color: black;//darken($primary-color, 80%) ; // Testo principale, scurito dell'80% per leggibilità
$text-muted-color: #ebb1b1; // Testo meno importante (muted), scurito del 60%

// Overlay e trasparenze
$overlay-color: rgba($primary-color, 0.4) ; // Sovrapposizione semi-trasparente con il colore principale (40% opacità)
$light-overlay-color: rgba(white, 0.6) ; // Sovrapposizione semi-trasparente bianca (60% opacità) per testi su sfondi scuri

// Colori per bottoni
$button-primary-background: $dark-primary-color ; // Sfondo dei bottoni primari con il colore principale scurito
$button-primary-text: white ; // Testo bianco per i bottoni primari

$button-secondary-background: $accent-color ; // Sfondo dei bottoni secondari con il colore d'accento
$button-secondary-text: white ; // Testo bianco per i bottoni secondari

// Colore delle bordature
$border-color: lighten($primary-color, 35%) ; // Bordi più chiari del colore principale (35%)

// Colori per le carte e sezioni
$card-background: white ; // Colore di sfondo delle carte (bianco per un contrasto netto)
$card-shadow: rgba($primary-color, 0.1) ; // Ombra leggera intorno alle carte con un tocco del colore principale

// Colori per errori o avvisi
$error-color: red ; // Colore rosso per gli errori
$success-color: #4CAF50 ; // Colore verde per i messaggi di successo
$warning-color: yellow ; // Colore giallo per gli avvisi

// Colori per i link
$link-color: $dark-primary-color ; // Colore dei link basato sul colore principale scurito
$link-hover-color: $primary-color ; // Colore dei link in hover basato sul colore principale