<div class="timeline-event">
    <div class="timeline-circle-container"><div class="timeline-circle"></div></div>
    <div class="timeline-content-container">
        <div class="timeline-date">{{ event.date | localize: "%d %B %Y" }}</div>
        <div class="timeline-content">
            <h3 class="timeline-title"><a href="{{ site.baseurl }}{{ event.url | relative_url }}">{{ event.title }}</a></h3>
            <div class="timeline-description">
                {{ event.short_description }}
            </div>
        </div>
    </div>
</div>
