{% assign mesi = "Gennaio,Febbraio,Marzo,Aprile,Maggio,Giugno,Luglio,Agosto,Settembre,Ottobre,Novembre,Dicembre" | split: "," %}

{% assign giorno = event_date | date: "%-d" %}
{% assign mese_indice = event_date | date: "%-m" | minus: 1 %}
{% assign mese_nome = mesi[mese_indice] %}
{% assign anno = event_date | date: "%Y" %}

<div class="next-event">
    <div class="card-container row">
        <div class="next-date-container col-12 col-sm-5 col-lg-3">
            <div class="next-event-date">
                <div class="next-event-day">
                    {{ giorno }}
                </div>
                <div class="next-event-month">
                    {{ mese_nome }}
                </div>
            </div>
        </div>
        <div class="content-container col">
            <div class="next-event-content">
                <h3 class="next-event-title"><a class="underline" href="{{ event.url | relative_url}}">{{ event.title }}</a></h3>
                <div class="next-event-description">
                    {{ event.description }}
                </div>
            </div>
        </div>
    </div>
</div>