{% assign mesi = "Gennaio,Febbraio,Marzo,Aprile,Maggio,Giugno,Luglio,Agosto,Settembre,Ottobre,Novembre,Dicembre" | split: "," %}

{% assign giorno = post.publication_date | date: "%-d" %}
{% assign mese_indice = post.publication_date | date: "%-m" | minus: 1 %}
{% assign mese_nome = mesi[mese_indice] %}
{% assign anno = post.publication_date | date: "%Y" %}

<div class="post-container container mt-5">
    <div class="d-flex">
        <div class="post-date">
            <strong>{{ giorno }} {{ mese_nome }} {{ anno }}</strong>
        </div>
    </div>

    <div class="post-content">
        <h2 class="post-title"><a class="underline" href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        {% if post.description %}
        <div class="post-description">
            {{ post.description }}
        </div>
        {% endif %}
    </div>
</div>
