@import "colors";

@mixin make_button($bg-color, $text-color, $border-color) {
  background-color: $bg-color;
  color: $text-color;
  border: 2px solid $border-color;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: darken($bg-color, 10%);
    color: lighten($text-color, 10%);
    border: 2px solid lighten($border-color, 10%);
  }
}

%secondary-button{
    @include make_button(transparent, $text-color, $text-color)
}
