@import "colors";

$title-background-color: #6b484f;
$content-bckground-color: #ba9d9d;

$date-height: 3em;
$date-padding: calc($date-height / 2) 0.5em calc($date-height / 2) 0.5em;

.timeline {
  position: relative;
  margin: 0;
  padding: 0;

  &::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: $dark-primary-color;
    z-index: 1000;
    top: 1em;
    left: 1em;

  }

  .timeline-content-container {
      box-shadow: 7px 7px 10px -3px #8b0000;
  }

  &-event {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 40px;
  }

  &-date {
    position: relative;
    min-width: 12em;
    padding-right: 20px;
    font-weight: bold;
    padding-top: 0.45em;
    background: $dark-primary-color;
    border-top-right-radius: 1em;
    color: $secondary-color;
  }

  &-circle {
    position: relative;
    min-width: 20px;
    height: 20px;
    background-color: $background-color;
    border: 3px solid $dark-primary-color;
    border-radius: 50%;
    z-index: 1001;
  }

  &-circle-container {
    padding: 0.45em;
    background: $dark-primary-color;
  }

  &-content {
    padding: 1em 1em 1em 1em;
    background-color: $card-background;
    border-top: 2px solid transparent;
  }

  &-content-container {
    border-top-right-radius: 1em;
  }

  &-title {
    font-size: 18px;
    font-weight: bold;
  }

  &-description {
    margin-top: 10px;
    padding-left: 0;
    position: relative;
  }
  .past {
    background-color: $text-muted-color;
  }
}

.next-event {
    display: flex;
    justify-content: center;
    &-date {
        width: 12em;
        height: 12em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-day {
        font-size: 5em;
        font-weight: 900;
    }

    &-month {
        display: flex;
        position: relative;
        top: -1em;
        font-size: 1.5em;
        font-weight: 900;
    }

    .card-container {
        display: flex;
        background: $dark-primary-color;
        color: $secondary-color;
        border-radius: 1.6em;
        width: 100%;
    }

    .next-date-container {
        display: flex;
        justify-content: center;
    }

    .content-container {
        display: flex;
        align-items: center;
        padding: 0 2em 2em 2em;
    }

    a {
        color: $secondary-color;
        font-weight: 600;
        font-size: 1.5em;
    }
}
