$date-color: #f1c8f2;
$color: #fee3ff;

.post-container {
    .post-date {
        border-top: 0 solid $date-color;
        border-left: 0 solid $date-color;
        border-right: 0 solid $date-color;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        background-color: $date-color;
        padding: 0.5em 3em 0 3em;
    }

    .post-content {
        background-color: $color;
        padding: 1em 3em;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
    }
}