.sidebar {
  flex: 1 1 30%;
  position: sticky;
  top: 2em;

  .logo-img {
    width: -webkit-fill-available;
  }

  &-container {
    margin-left: 1rem;
    margin-right: 1rem;
    min-width: 20em;
  }
}